/*********** Boody ****************/
html, body {
	background-color: #347B98;
	height: 105%;
}
body {
  	display: flex;
  	flex-direction: column;
	font-family: sans-serif;
}
#main {
  flex: 1 0 auto;
}
/*********** Footer ****************/
footer{
    color: #EBF7D4;
    text-align: center;
    background: #091D34;
	height: 3%;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}
/************nav stuff*********************/
div.myNavBar{
    height: 45px;
}
ul.myNav li{
    display: inline;
    padding: 10px 22px;
    background-color: #091D34;
    margin: 2px;    
}
ul.myNav li a{
    text-decoration: none;
    background-color: #091D34;
    color: #EBF7D4;
    font-size: large;
	font-weight: bold;
}
ul.myNav li a:hover{
    font-style: italic;
	text-shadow: 1px 1px #EBF7D4;
}
.login {
    float: right;
}
/************Search bar********************/
#SearchKey {
  	background-image: url("../media/searchicon.png");
	background-size: contain;
  	background-position: 1px 1px;
  	background-repeat: no-repeat;
  	width: 600px;
  	font-size: 16px;
  	padding: 12px 300px 12px 50px;
  	border: 2px solid #091D34;
  	margin: 5px 0px; 
}
input.mysearch:hover{
    font-style: italic;
	text-shadow: 1px 1px #EBF7D4;
}
input.mysearch {
    display: inline;
    padding: 10px 22px;
    margin: 5px 0px;    
    text-decoration: none;
    color: #EBF7D4;
    font-size: large;
	font-weight: bold;
	border: 2px solid #091D34;
    background-color: #091D34;
}
.mySearchBar{
	width: 100%;
}
/********** Search keys *********************/
header, .myradios, .mySearchBar{
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}
h1{
	text-align: center;
	color: #EBF7D4;
	width: 50%;
}
.inputform {
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 5%;
	margin: 0px 10px;
}
#textBooksform{
	background-image: url('../media/shelf/text-bookshelf.png');
}
#genBooksform{
	background-image: url('../media/shelf/gen-bookshelf.png');
}
.inputs{
    padding-top: 65px;
	padding-bottom: 5px;
}
[type=radio] { 
  	position: absolute;
	left: -9999px;
}
input[type=radio] + label>img {
  	width: 6.5%;
	transition: 50ms all;
	margin-left: -3.7%;
}
input[type=radio]:hover + label>img {
	transform: translate(0px,-30px);
}
input[type=radio]:checked + label>img {
	transform: rotate3d(1, 1, 0, 25deg) translate(-10px,10px) scale(1.05,1.05);
}








